.contenido {
}

.presentacion {
  background-color: $secondary;
  border-radius: 20px;
  margin: 10px;
  padding: 0px;
  border: 0px;
}

.titulo{
    font-size: 40px;
}

.texto{
    font-size: 30px;
}

.img__calcetines{
    width: 70vw;
    margin: 10px auto;
    display: block;
    border-radius: 10px;
}
